{% load rest_framework %}

<html><body>

<h1>{{ observation.musical_type }}</h1>
<h2>Observer: {{ observation.observer }}</h2>
    {% for key, value in observation.details.items %}
        <br><b>{{ key }}</b> : {{ value }}
    {% endfor %}
    <br><br><b>Definition :</b>
    <br>{% for key, value in observation.definition.observation_definition.items %}
        <br> {{ key }} : {{ value }} 
    {% endfor %} 
<p><form action="{% url 'crimobservation-detail' pk=observation.pk %}" method="POST">
    {% csrf_token %}
    {% render_form serializer %}
    <input type="submit" value="Update">
</form></p>

</body></html>