<html>
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        {% load crispy_forms_tags %}
        <div class="shadow-none p-4 mt-4 mb-4 bg-light">
            <div class="text-center">
                <h1>Create a relationship instance</h1>
            </div>
            <form method="post">
            {% csrf_token %}
            <div class="shadow-none p-4 mb-4 bg-light">
                <div class="row-sm">{{form.observer|as_crispy_field}}</div>
                <div class="row-sm">{{form.relationship_type|as_crispy_field}}</div>
                <div class="row-sm">{{form.details|as_crispy_field}}</div>
                
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#a">{{ first_type.capitalize }}</a></li>
                    {% for relatype in other_types %}
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#">{{ relatype.capitalize }}</a></li>
                    {% endfor %}
                </ul>
  
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane container active" id="a">
                        <p><br><i>Pick the subtypes for this type</i></p>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="st1">
                            <label class="form-check-label" for="st1">
                            Exact
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="st2">
                            <label class="form-check-label" for="st2">
                            Monnayage
                            </label>
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="b">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                              Default checkbox
                            </label>
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="c">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                              Default checkbox
                            </label>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-sm">{{form.model_observation|as_crispy_field}}</div>
                    <div class="col-sm">{{form.derivative_observation|as_crispy_field}}</div>
                </div>
                <div class="row-sm">{{form.definition|as_crispy_field}}</div>
                <input type="submit" value="Submit">
            </form>
        </div>

        <!-- Optional Javascript -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
