{% load rest_framework %}

<html><body>

<h1>{{ relationship.relationship_type }}</h1>
    <br><b>Observer</b> : {{ relationship.observer }}
    <br><b>Musical type</b> : {{ relationship.musical_type }}
    {% for key, value in relationship.details.items %}
        <br><b>{{ key }}</b> : {{ value }}
    {% endfor %}
    <br><br><b>Observation 1 : {{ relationship.model_observation.musical_type }}</b>
    <br>Observer : {{ relationship.model_observation.observer }}
    {% for key, value in relationship.model_observation.details.items %}
        <br> {{ key }} : {{ value }} 
    {% endfor %} 
    <br><br><b>Observation 2 : {{ relationship.derivative_observation.musical_type }}</b>
    <br>Observer : {{ relationship.derivative_observation.observer }}
    {% for key, value in relationship.derivative_observation.details.items %}
        <br> {{ key }} : {{ value }} 
    {% endfor %}

<p><form action="{% url 'crimrelationship-detail' pk=relationship.pk %}" method="POST">
    {% csrf_token %}
    {% render_form serializer %}
    <input type="submit" value="Save">
</form></p>

</body></html>