<html>
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        {% load crispy_forms_tags %}
        {% load dict_lookup %}
        
        <div class="shadow-none p-4 mt-4 mb-4 bg-light">
            <div class="text-center">
                <h1>Create a relationship instance</h1>
            </div>
            <form method="post">
            {% csrf_token %}
            <div class="shadow-none p-4 mb-4 bg-light">
                <div class="row-sm"> {{form.observer|as_crispy_field}}</div>
                <!-- <div class="row-sm"> {{form.observer|as_crispy_field}}</div> -->
    
                
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                <!-- <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#mt"> Mechanical transformation </a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#nm"> New material </a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#nmt"> Non-mechanical transformation</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#om"> Omission </a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#qt"> Quotation </a></li> -->
                    {% for key, value in relationship_definition.items %}
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#{{ key|slugify }}">{{ key }}</a></li>
                    {% endfor %}
                </ul>
  
                <!-- Tab panes -->
                <div class="tab-content">

                    <!-- <div class="tab-pane container active" id="mt">
                        <p><br><i>Pick the details for type Mechanical transformation</i></p>
                        <div class="mt"></div>
                    </div>
                
                    <div class="tab-pane container fade" id="nm">
                        <p><br><i>Pick the details for type New material</i></p>
                        <div class="nm"></div>
                    </div>

                    <div class="tab-pane container fade" id="nmt">
                        <p><br><i>Pick the details for type Non-mechanical transformation</i></p>
                        <div class="nmt"></div>
                    </div>

                    <div class="tab-pane container fade" id="om">
                        <p><br><i>Pick the details for type Omission</i></p>
                        <div class="om"></div>
                    </div>

                    <div class="tab-pane container fade" id="qt">
                        <p><br><i>Pick the details for type Quotation</i></p>
                        <div class="qt"></div>
                    </div> -->

                    {% for key, value in relationship_definition.items %}
                        <div class="tab-pane container active" id="{{ key|slugify }}">
                            {{ value }}
                        </div>
                    {% endfor %}

                </div>
                <p></p>
                <div class="row">
                    <div class="col-sm">{{form.model_observation|as_crispy_field}}</div>
                    <div class="col-sm">{{form.derivative_observation|as_crispy_field}}</div>
                </div>
                <div class="row-sm">{{form.details|as_crispy_field}}</div>
                <div class="row-sm">{{form.relationship_definition}}</div>
                <input class="btn btn-primary" type="submit" name="Submit" value="Submit">
            </form>
        </div>

        
        <p id="demo"></p>

        <!-- Optional Javascript -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script>

        {{ mt_details|json_script:"mt_details" }}
        {{ mt_details_type|json_script:"mt_details_type"}}
        {{ nm_details|json_script:"nm_details" }}
        {{ nm_details_type|json_script:"nm_details_type"}}
        {{ nmt_details|json_script:"nmt_details" }}
        {{ nmt_details_type|json_script:"nmt_details_type"}}
        {{ om_details|json_script:"om_details" }}
        {{ om_details_type|json_script:"om_details_type"}}
        {{ qt_details|json_script:"qt_details" }}
        {{ qt_details_type|json_script:"qt_details_type"}}

        <script>
            const mt_key = JSON.parse(document.getElementById('mt_details').textContent);
            const mt_value = JSON.parse(document.getElementById('mt_details_type').textContent);
            $.each(mt_key, function(i){
                if (mt_value[i] == 'boolean') {
                    mt_rep = mt_key[i].replace(/\s/g, "_");
                    $('.mt')
                    .append("<div class='form-check'> <input class='form-check-input' type='checkbox' name='" + "mt" +  mt_rep + "' value='true' id='" + "mt" + mt_rep + "'> <input name='" + "mt" +  mt_rep + "' type='hidden' value='false'> <label class='form-check-label' for='" + "mt" + mt_rep + "'>" + mt_key[i] + "</label></div>");
                }
                else {
                    $('.mt')
                    .append("<div class='form-group'> <label for='" + "mt" + mt_rep + "'>" + mt_key[i] + "</label> <textarea class='form-control' id='" + "mt" + mt_rep + "' name='" + "mt" + mt_rep + "' rows='1'></textarea></div>");
                }
            });
      

        
            const nm_key = JSON.parse(document.getElementById('nm_details').textContent);
            const nm_value = JSON.parse(document.getElementById('nm_details_type').textContent);
            $.each(nm_key, function(i){
                if (nm_value[i] == 'boolean') {
                    nm_rep = nm_key[i].replace(/\s/g, "_");
                    $('.nm')
                    .append("<div class='form-check'> <input class='form-check-input' type='checkbox' name='" + "nm" +  nm_rep + "' value='true' id='" + "nm" + nm_rep + "'> <input name='" + "nm" +  nm_rep + "' type='hidden' value='false'> <label class='form-check-label' for='" + "nm" + nm_rep + "'>" + nm_key[i] + "</label></div>");
                }
                else {
                    $('.nm')
                    .append("<div class='form-group'> <label for='" + "nm" + nm_rep + "'>" + nm_key[i] + "</label> <textarea class='form-control' id='" + "nm" + nm_rep + "' name='" + "nm" + nm_rep + "' rows='1'></textarea></div>");
                }
            });
        

       
            const nmt_key = JSON.parse(document.getElementById('nmt_details').textContent);
            const nmt_value = JSON.parse(document.getElementById('nmt_details_type').textContent);
            $.each(nmt_key, function(i){
                if (nmt_value[i] == 'boolean') {
                    nmt_rep = nmt_key[i].replace(/\s/g, "_");
                    $('.nmt')
                    .append("<div class='form-check'> <input class='form-check-input' type='checkbox' name='" + "nmt" +  nmt_rep + "' value='true' id='" + "nmt" + nmt_rep + "'> <input name='" + "nmt" +  nmt_rep + "' type='hidden' value='false'> <label class='form-check-label' for='" + "nmt" + nmt_rep + "'>" + nmt_key[i] + "</label></div>");
                }
                else {
                    $('.nmt')
                    .append("<div class='form-group'> <label for='" + "nmt" + nmt_rep + "'>" + nmt_key[i] + "</label> <textarea class='form-control' id='" + "nmt" + nmt_rep + "' name='" + "nmt" + nmt_rep + "' rows='1'></textarea></div>");
                }
            });
        

        
            const om_key = JSON.parse(document.getElementById('om_details').textContent);
            const om_value = JSON.parse(document.getElementById('om_details_type').textContent);
            $.each(om_key, function(i){
                if (om_value[i] == 'boolean') {
                    om_rep = om_key[i].replace(/\s/g, "_");
                    $('.om')
                    .append("<div class='form-check'> <input class='form-check-input' type='checkbox' name='" + "om" +  om_rep + "' value='true' id='" + "om" + om_rep + "'> <input name='" + "om" +  om_rep + "' type='hidden' value='false'> <label class='form-check-label' for='" + "om" + om_rep + "'>" + om_key[i] + "</label></div>");
                }
                else {
                    $('.om')
                    .append("<div class='form-group'> <label for='" + "om" + om_rep + "'>" + om_key[i] + "</label> <textarea class='form-control' id='" + "om" + om_rep + "' name='" + "om" + om_rep + "' rows='1'></textarea></div>");
                }
            });
        

        
            const qt_key = JSON.parse(document.getElementById('qt_details').textContent);
            const qt_value = JSON.parse(document.getElementById('qt_details_type').textContent);
            $.each(qt_key, function(i){
                if (qt_value[i] == 'boolean') {
                    qt_rep = qt_key[i].replace(/\s/g, "_");
                    $('.qt')
                    .append("<div class='form-check'> <input class='qt_checkbox' type='checkbox' name='" + "qt" +  qt_rep + "' value='true' id='" + "qt" + qt_rep + "'> <input name='" + "qt" +  qt_rep + "' type='hidden' value='false'> <label class='form-check-label' for='" + "qt" + qt_rep + "'>" + qt_key[i] + "</label></div>");
                }
                else {
                    $('.qt')
                    .append("<div class='form-group'> <label for='" + "qt" + qt_rep + "'>" + qt_key[i] + "</label> <textarea class='form-control' id='" + "qt" + qt_rep + "' name='" + "qt" + qt_rep + "' rows='1'></textarea></div>");
                }
            });
        
            $("input:checkbox").change(function () {
                $(this).parent().find('input:hidden').val($(this).is(':checked'));
            });

            // TODO: clear hardcode

            // exact and monnayage
            $('.qt_checkbox').on('change', function() {
                $('.qt_checkbox').not(this).prop('checked', false);
            });

            // amplified and truncated
            $('#nmttruncated').on('change', function () {
                if (this.checked) {     
                    $('#nmtamplified').prop('checked', false);
                }
            });
            $('#nmtamplified').on('change', function () {
                if (this.checked) {     
                    $('#nmttruncated').prop('checked', false);
                }
            });

             // embellished and reduced
            $('#nmtembellished').on('change', function () {
                if (this.checked) {     
                    $('#nmtreduced').prop('checked', false);
                }
            });
            
            $('#nmtreduced').on('change', function () {
                if (this.checked) {     
                    $('#nmtembellished').prop('checked', false);
                }
            });
            
            // transposed and transposed diff amounts
            $('#mttransposed').on('change', function () {
                if (this.checked) {     
                    $('#mttransposed_different_amounts').prop('checked', false);
                }
            });
            $('#mttransposed_different_amounts').on('change', function () {
                if (this.checked) {     
                    $('#mttransposed').prop('checked', false);
                }
            });

            $(document).ready(function(){
                $(".nav-tabs a").click(function(){
                    $(this).tab('show');
                });
            });

            //var serializeForm = function (form) {
	        //    var obj = {};
	        //    var formData = new FormData(form);
	        //    for (var key of formData.keys()) {
		    //        obj[key] = formData.get(key);
	        //    }
	        //    return obj;
            //};

            //var form = document.querySelector('form');
            //var data = new FormData(form);

            //document.addEventListener('submit', function (event) {
            //    event.preventDefault();
            //    fetch('https://jsonplaceholder.typicode.com/posts', {
		    //        method: 'POST',
		    //        body: JSON.stringify(serializeForm(event.target)),
	        //    }).then(function (response) {
		    //        if (response.ok) {
			//            return response.json();
		    //        }
		    //        return Promise.reject(response);
	        //    }).then(function (data) {
		    //        document.getElementById("demo").innerHTML = data;
	        //    }).catch(function (error) {
		    //        document.getElementById("demo").innerHTML = error;
	        //    });
            //});

            
        </script>

    </body>
</html>
